<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/学习笔记/vue/component/vue-switch/vue-switch.css">
    <script type="text/javascript" src="../vue.min.js"></script>
    <script type="text/javascript" src="vue-switch/vue-switch.js"></script>




</head>
<body>
<div id="vue-switch-demo">
<vue-switch   checked="1" unchecked="0"></vue-switch>
<pre>
  1.nodejs，想自己实现fis的inline功能，写出了以下代码，有没有更简洁的写法？？

  2. 这个是从原来的项目中摘出来的，原来架构师没法这样搞的，摘出来比较清晰。
</pre>

</div>


<script type="text/javascript">
    var formVueComp = new Vue({
        el: '#vue-switch-demo',
        data: {

        },
        // components: {
        //     RadioBox: RadioBox
        // },
        watch: {

        },
        events: {

        },
        method: function() {}
    });


    //  var Vue  = require('vue');

    //        require('iajax');
    //        require('dialogX');
    //        require('jquery-hammer');
    //        require('inputListX');
    //        require('vue-ui/vue-switch');
    //        require('vue-ui/vue-select');
    //
    //        //经营方向
    //        var magamentDirection = '快餐';
    //        var businessLists = [{
    //            text: '快餐',
    //            value: '快餐'
    //        }, {
    //            text: '正餐',
    //            value: '正餐'
    //        }, {
    //            text: '火锅',
    //            value: '火锅'
    //        }, {
    //            text: '自助餐',
    //            value: '自助餐'
    //        }, {
    //            text: '其他',
    //            value: '其他'
    //        }];
    //
    //        var M      = {
    //            init: function () {
    //                new Vue({
    //                    el: '#order-form',
    //                    data: {
    //                        selectItem: {
    //                            magamentDirection: magamentDirection
    //                        },
    //                        selectList: {
    //                            businessLists: businessLists
    //                        }
    //                    }
    //                });
    //            }
    //        };

    //    module.exports = M;


</script>
</body>
</html>